<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </layout>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>/Users/hhkmac/Desktop/logs/%d{yyyy-MM-dd}/logs.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </layout>
    </appender>

    <logger name="com.esportbook.mapper" additivity="true">
        <level value="TRACE"/>
    </logger>



    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>



    <!--<logger name="org.springframework.boot" level="DEBUG"/>-->
    <!--<logger name="org.mybatis" level="DEBUG" />-->
    <!--<logger name="java.sql" level="DEBUG" additivity="false"/>-->
</configuration>